.signUpDiv {
  position: relative;
  margin: 0;
  padding: 0;
  background: url("https://picsum.photos/1920/840/?random");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 90vh;
}

.signUpBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
}

.signUpBox a {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.signUpBox a:hover {
  text-decoration: underline;
}

.userAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-100px / 2);
  left: calc(50% - 50px);
}

.SignUpForm__root h2 {
  margin: 0;
  padding-bottom: 30px;
  color: #fffb00;
  text-align: center;
}

.SignUpForm__root input,
.SignUpForm__root button {
  width: 100%;
  margin-bottom: 20px;
}

.name,
.email,
.password,
.password2 {
  margin: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.signUpBtn,
.signUpBtn:hover {
  background-color: #b30048;
  margin-top: 2em;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.signUpBtn:disabled {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  cursor: not-allowed;
  color: #fafafa;
}

.SignUpForm__error-text {
  color: #ed4956;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.SignUpForm__error-line {
  margin: 0;
  border-bottom: 1px solid red;
  color: #fff;
}

.SignUpForm__spinner {
  font-size: 18px !important;
}
